.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.search-section {
  margin-bottom: 20px;
}

.country-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filtered-list {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.country-btn {
  padding: 5px 10px;
  cursor: pointer;
}
